#welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#welcome-message h1 {
  font-family: 'DynaPuff', cursive;
  color: #b4c884;
  letter-spacing: 1px;
  color: #b4c884;
  -webkit-text-fill-color: #b4c884;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #414830;
  font-size: 95px;
  margin-bottom: 20px;
  color: #222222;
}

#welcome-message ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}

#welcome-message li {
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid #f4f4f4;
  background-color: #c6c6c6;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888888;
  text-align: center;
  color: #222222;
  font-weight: bold;
}

#welcome-message li span {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
}

#goBack {
  background-color: #ffd0d0;
  border: none;
  color: #543a3a;
  padding-bottom: 30px;
  font-size: 90px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  width: 200px;
  height: 120px;
  border-radius: 60px;
  transition: background-color 0.3s;
  /* set the border radius to half the height */
}