body {
  margin: 0%;
}

/* Style the leaderboard */
#leaderboard {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

#leaderboard li {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.popup-content {
  width: 90%; /* Adjust the width of the popup */
  max-width: 400px; /* Limit the maximum width of the popup */
  font-size: 16px; /* Adjust the font size */
  line-height: 1.5; /* Adjust the line spacing */
}

@media (max-width: 480px) {
  /* Styles for smaller screens (phones) */
  .popup-content {
    font-size: 1008px; /* Adjust the font size */
  }
}

/* Style the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  padding: 10px;
  font-size: 20px;
  color: #543a3a;
  background-color: #ffd0d0;
  border: 2px solid #d5aeae;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #543a3a;
  color: #ffd0d0;
  border-color: #ffd0d0;
}

/* Style the map container */
/* Set the map to cover the full screen */
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style the mobile menu */
#mobile-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

#menu-button {
  display: block;
  background-color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#menu-list {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
}

#menu-list li {
  margin: 5px 0;
}

#menu-list a {
  text-decoration: none;
  color: #333;
}

#menu-button:focus + #menu-list,
#menu-list:focus {
  display: block;
}

@keyframes shine {
  0% {
    color: rgb(255, 0, 0);
  }
  50% {
    color: rgb(0, 255, 0);
  }
  100% {
    color: rgb(0, 0, 255);
  }
}

#first-item {
  animation: shine 2s ease-in-out infinite;
}

#username-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#username-input {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 100px;
}

#username-form button {
  font-size: 60px;
  display: block;
  margin: 10px auto 0;
  width: 300px;
  height: 100px;
}

/* Add this to your styles.css file */
#goBack {
  background-color: #ffd0d0;
  border: none;
  color: #543a3a;
  padding-bottom: 30px;
  font-size: 90px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  width: 200px;
  height: 120px;
  border-radius: 60px;
  transition: background-color 0.3s;
  /* set the border radius to half the height */
}

#goBack:hover {
  background-color: #543a3a;
  color: #ffd0d0;
}

#countdown {
  font-size: 100px;
  position: absolute;
  bottom: 1%;
  right: 7%;
  font-family: "DynaPuff", cursive;
}

#rankButton {
  position: absolute;
  z-index: 100;
  top: 90px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 4px;
}

#score {
  position: absolute;
  z-index: 100;
  top: 60px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 4px;
}

#welcome-message {
  font-family: "DynaPuff", cursive;
  letter-spacing: 1px;
  padding: 5px 5px;
  min-width: 140px;
  color: #b4c884;
  -webkit-text-fill-color: #b4c884;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #414830;
  background-color: #dff3f9;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  left: 77%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 1000;
}

/* Poodle Game */

.game-container {
  position: relative;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.dirty-dog, .clean-dog {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.dirty-dog{
  z-index: 1;
  opacity: 1;
}

.clean-dog {
  opacity: 0;
}

/* html {
  cursor: url('soap-bar.png') 0 0, auto;
} */

/* html {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-image: url('soap-bar2.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 25px 25px;
} */

.bubble {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s ease-out;
}

.dog-message{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20% 0 20% 20%;
  padding: 40px;
  width: 40%;
  height: 20%;
  border: 4px solid black;
  z-index: 2;
  font-size: 40px;
  gap: 10%;
  left: 5%;
  top: 45%;
}

.dog-message p {
  margin: 0;
}

.dog-message-button{
  width: 60%;
  height: 20%;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
}

/* Chihuahua Game */

.chichiGameContainer{
  position: relative;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: wheat;
  z-index: 200;
}

.handbags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.handbag {
  width: 200px;
  height: 200px;
  margin: 20px;
}

#checkButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 32px;
  height: 150px;
  width: 300px;
}

#chihuahua-container {
  width: 80vw;
  height: 0;
  padding-bottom: 80%; /* Maintain aspect ratio */
  margin: 20px auto;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: white;
}

#chihuahua {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

#timer-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

#timer {
  font-size: 18px;
}

#timer-value {
  margin-left: 5px;
  font-weight: bold;
}

.handbag.selected {
  border: 2px solid rgb(0, 0, 0);
}

.chichi-dog-message{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 0 20% 20% 20%;
  padding: 40px;
  width: 40%;
  height: 20%;
  border: 4px solid black;
  z-index: 2;
  font-size: 40px;
  gap: 10%;
  right: 5%;
  top: 57%;
}

.chichi-dog-message p {
  margin: 0;
}

.chichi-dog-message-button{
  width: 60%;
  height: 20%;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
}

/* Intro */

p, button{
  font-family: 'DynaPuff', cursive;
}

.talkWithOwnerDiv {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
  background-image: url('images/ägare.png');
  top: 0%;
  right: 1.5%;
}

.talkWithOwnerDiv p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 5%;
  left: 15%;
  width: 600px;
}

.talkWithOwnerDiv button {
  width: 300px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  margin-top: 20px;
  position: absolute;
  top: 25%;
  left: 30%;
}

.walkWithDogsDiv {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
  background-image: url('images/spelare_med_hundar.png');
}

.walkWithDogsDiv p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 2%;
  left: 5%;
  background-color: white;
  border: 2px solid black;
  padding: 40px;
  border-radius: 20%;
  width: 500px;
}

.walkWithDogsDiv button {
  width: 300px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  margin-top: 20px;
  position: absolute;
  top: 80%;
}

.dogsRunsAwayDiv {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
  background-image: url('images/spelare_utan_hundar.png');
}

.dogsRunsAwayDiv p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 2%;
  left: 5%;
  background-color: white;
  border: 2px solid black;
  padding: 40px;
  border-radius: 20%;
  width: 500px;
}

.dogsRunsAwayDiv button {
  width: 300px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  margin-top: 20px;
  position: absolute;
  top: 80%;
}

.gameInfo{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
}

.gameInfo p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 2%;
  left: 5%;
  background-color: white;
  border: 2px solid black;
  padding: 40px;
  border-radius: 20%;
  width: 500px;
}

#gameInfoText1{
  top: 10%;
  left: 1%;
  border-radius: 20% 20% 20% 0;
}

#gameInfoText2{
  top: 35%;
  left: 39%;
  border-radius: 20% 20% 0 20%;
}

#gameInfoText3{
  top: 60%;
  left: 1%;
  border-radius: 20% 20% 20% 0;
}


.gameInfo button {
  width: 300px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  margin-top: 20px;
  position: absolute;
  top: 80%;
}

/* Outro Win/Lose */

.loseGameDiv{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
  background-image: url('images/gameover.gif');
  background-size: contain;
}

.loseGameDiv p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.loseGameDiv button {
  width: 300px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  margin-top: 20px;
  position: absolute;
  top: 55%;
}

.winGameDiv{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
}

.winGameDiv p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.winGameDiv button {
  width: 300px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  margin-top: 20px;
  position: absolute;
  top: 80%;
}

/* Leach Button */

#showLeash {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 100;
  border-radius: 50% 50% 50% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  bottom: 0%;
}

#showLeash img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}