body {
  background-color: #e8f6fa;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

h1 {
  font-family: 'DynaPuff', cursive;
  font-size: 100px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  color: #b4c884;
  -webkit-text-fill-color: #b4c884;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #414830;
}

#go-back {
  background-color: #ffd0d0;
  border: none;
  color: #543a3a;
  font-size: 90px;
  padding-bottom: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 200px;
  height: 120px;
  border-radius: 60px; /* set the border radius to half the height */
  transition: background-color 0.3s;
}

#go-back:hover {
  background-color: #543a3a;
  color: #ffd0d0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #d5aeae;
}

th {
  background-color: #ffd0d0;
  color: #543a3a;
}

tr {
  background-color: #f6f6f6;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Live RGB colors for top 3 ranks */
@keyframes liveColor {
  0% {
    color: red;
  }
  33% {
    color: green;
  }
  66% {
    color: blue;
  }
  100% {
    color: red;
  }
}

.top-3 {
  animation: liveColor 2s linear infinite;
}

/* Set color for other ranks */
.other-ranks {
  color: #555;
}
